body{
    margin: 0;
    overflow-x: none;
    background-color: rgb(87, 97, 106);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.header {
    position: sticky;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(5px);
    width: 100%;
    text-align: center;

}

.row{
    display: grid;
    border: 2px solid white;
    height: fit-content;
    width: fit-content;
    grid-template-columns: repeat(7, 10rem) 30px;
    color: white;
    word-wrap: break-word;
    text-align: center;
    margin: 5px 0;
    background-color: rgb(95, 161, 183);
    animation: appear-row 0.15s ;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to{
        opacity: 0.3
    }
}
@keyframes appear-row {
    from {
        opacity: 0;
    }
    to{
        opacity: 1
    }
}


.row:first-child{
    grid-template-columns: repeat(7, 10rem);
}


.row:nth-child(2n) {
    filter: brightness(0.8);
}

.row> div:not(:last-child) {
    border-right: 2px solid white ;
}





h2 {
    color: white;
}

form {
    opacity: 0.3;
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: grey;
    padding: 2rem;
    border-radius: 5%;
}

.visible {
    animation: appear 0.15s ;
}

form:hover {
    opacity: 1;
    cursor: pointer;
    transition: 0.15s;
}

.hidden{
    visibility: hidden;
    height: 0px;
    padding: 0px;
    animation: disappear 1s;
}


button:hover {
    cursor: pointer;
}

label {
    color: white;
}

#formSubmit{
    width: fit;
}

.form-container {
    gap: 1rem;
    background-color: grey;
    padding: 2rem;
}

body, form, .form-container,.text-input-compartment,.other-input-compartment{
    display: flex;
}

form, .text-input-compartment,.other-input-compartment{
    flex-direction: column;
    gap: 5px;
}

::placeholder{
    opacity: 0.4;
}

#toggleForm{
    display: flex;
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90%;
    right: 5%;
    scale: 2;
    z-index: 999;
}

@media screen and (max-width: 1000px) {
    .form-container{
        flex-direction: column;
        padding: 10px;
    }

    .form{
        padding: 10px;
        bottom: 0;
    }  
}

@media screen and (max-width: 1500px) {
    .row{
        grid-template-columns: repeat(7, 6rem) 30px;
    }
    
    .row:first-child{
        grid-template-columns: repeat(7, 6rem);
    }
}